/* 
    Created on : 4 déc. 2014, 20:33:36
    Author     : Pipe My Fork - Nuit de l'info 2014
*/

@import "variables";

header {
    ul {
        background-color: $header_background;
        li {
            text-align: center;
            a {
                width: 180px;
                margin: auto;
                &:hover{
                    background-color: inherit !important;
                }

                img {
                    width: 150px;
                    margin: auto;
                }
            }
        }
    }
}

/* Acutalité */
div {
	.cadre-contenu {
		display: block;	

		img {
			float: left;
			margin-right: 10px;
		}
	}
}
/* --Acutalité-- */